<!-- END PAGE SPINNER -->
<section>
    <div class="main-content">
        <div class="booking-header">
            <div class="logopanel">
                <a href="https://toddao.com/"></a>
            </div>
            <div class="app-info">
                <a ng-href="https://www.google.com/maps/place/{{adminSettings.address}}" class="app-info__address" ng-if="!!adminSettings.address" target="_blank">
                    <i class="fa fa-map-marker"></i> {{adminSettings.address}}
                </a>
                <div class="app-info__line">
                    <a ng-href="mailto:{{adminSettings.email}}" class="app-info__email" ng-if="!!adminSettings.email">
                        <i class="fa fa-envelope"></i> {{adminSettings.email}}
                    </a>
                    <a ng-href="skype:+1{{adminSettings.phone}}?call" class="app-info__phone" ng-if="!!adminSettings.phone">
                        <i class="fa fa-phone-square"></i> {{adminSettings.phone}}
                    </a>
                </div>
            </div>
            <!-- BEGIN TOPBAR -->
            <div class="topbar" data-ng-controller="topbarCtrl">
                <div class="header-right">
                    <ul class="header-menu nav navbar-nav">
                        <!-- BEGIN USER DROPDOWN -->
                        <li class="dropdown" id="user-header" ng-show="!isLoggedIn">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="icon-user"></span>
                                <span>&nbsp;&nbsp;Log in</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-href="{{serverUrl}}auth/facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                </li>
                                <li>
                                    <a ng-href="{{serverUrl}}auth/google"><i class="fa fa-google"></i><span>Google</span></a>
                                </li>
                                <li>
                                    <a ng-href="{{serverUrl}}auth/linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" id="user-header" ng-show="isLoggedIn">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img src="{{profilePhoto}}" alt="user image">
                                <span class="username">{{fullname}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-if="isLoggedIn && isAdmin">
                                    <a data-target="" ng-click="manageAdminSettings()"><i class="icon-settings"></i><span>Admin Settings</span></a>
                                </li>
                                <li ng-if="isLoggedIn && isAdmin">
                                    <a data-target="" ng-click="manageAdrMixers()"><i class="icon-users"></i><span>ADR Mixers</span></a>
                                </li>
                                <li>
                                    <a data-target="#" ng-click="logout()"><i class="icon-logout"></i><span>Logout</span></a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER DROPDOWN -->
                    </ul>
                </div>
                <!-- header-right -->
            </div>
            <!-- END TOPBAR -->
        </div>
        <!-- BEGIN PAGE CONTENT -->
        <div class="at-view-slide-in-left page-content m-t-0 p-t-0">
            <div ui-view></div>
            <div class="footer m-t-0 p-b-0 booking-footer">
                <div class="copyright p-t-10 p-b-10">
                    <p class="text-center">
                        <span data-ng-controller="laClockCtrl">
                            Los Angeles / PST <span class="time">{{time}}</span> &nbsp;-&nbsp;
                        </span>
                        <span>Copyright <span class="copyright">&copy;</span> 2017 </span><br/>
                        <span>{{adminSettings.title}}</span>.
                        <span>All rights reserved. </span>
                    </p>
                    <div class="app-info mobile-only">
                        <a ng-href="https://www.google.com/maps/place/{{adminSettings.address}}" class="app-info__address" ng-if="!!adminSettings.address" target="_blank">
                            <i class="fa fa-map-marker"></i> {{adminSettings.address}}
                        </a>
                        <div class="app-info__line">
                            <a ng-href="mailto:{{adminSettings.email}}" class="app-info__email" ng-if="!!adminSettings.email">
                                <i class="fa fa-envelope"></i> {{adminSettings.email}}
                            </a>
                            <a ng-href="skype:+1{{adminSettings.phone}}?call" class="app-info__phone" ng-if="!!adminSettings.phone">
                                <i class="fa fa-phone-square"></i> {{adminSettings.phone}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END MAIN CONTENT -->
</section>
