<div class='row'>
    <div class='col-sm-12'>
        <div class='form-group'>
            <div class="col-sm-2">
                <label class="control-label">Customer Billing Address</label>
            </div>
            <div class="col-sm-10">
                <textarea ng-model="vm.booking.billing.billing_address"
                  class='form-control' name='billing_address'
                  rows='3' placeholder='Customer Billing Address'></textarea>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-sm-12'>
        <div class='form-group'>
            <div class="col-sm-2">
                <label class="control-label">Contact Details</label>
            </div>
            <div class="col-sm-10">
                <textarea ng-model="vm.booking.billing.contact_details"
                  class='form-control' name='contact_details'
                  rows='3' placeholder='Contact Details'></textarea>
            </div>
        </div>
    </div>
</div>
