- var startDate = moment(booking.time_in).format("MMMM DD")
- var startTime = moment(booking.time_in).format("HH:mm")
- var endTime = moment(booking.time_out).format("HH:mm")
| Deleted Booking #{startDate} from #{startTime} to #{endTime}
