<div class="loading-wrapper" ng-if="isLoading">
</div>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><strong>Admin Settings</strong></h4>
</div>
<div class="modal-body">
  Hello World
</div>
<div class="modal-footer">
  <button data-dismiss="modal" class="btn btn-link pull-right">Close</button>
  <button ng-click="saveSettings()" class="btn btn-blue ladda-button pull-right save-admin-settings" data-style="slide-left">
    <span class="ladda-label">Save</span>
  </button>
</div>
