<div class="loading-wrapper" ng-if="isLoading">
</div>
<form class="form-horizontal">
  <flash-message></flash-message>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">Title</label>
        <div class="col-sm-8">
          <input type="text" placeholder="Enter the title of app..." class="form-control" ng-model="settings.title" />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">Location</label>
        <div class="col-sm-8">
          <input type="text" placeholder="Enter the location ..." class="form-control" ng-model="settings.location" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input type="text" placeholder="Enter the address..." class="form-control" ng-model="settings.address" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          <input type="email" placeholder="Enter the email address..." class="form-control" ng-model="settings.email" />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">Phone</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">+1</span>
            <input type="text" placeholder="Enter the phone number..." class="form-control" ng-model="settings.phone" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">Remote Client Options</label>
        <div class="col-sm-8">
          <div class="icheck-inline">
            <label>
              <input ng-model="settings.local_or_remote_actor_and_directors.local_actor_director"
                     icheck data-checkbox="icheckbox_square-blue"
                     value="true" type="checkbox" name="local_or_remote_actor_and_directors"> Local Actor & Director
            </label>
            <label>
              <input ng-model="settings.local_or_remote_actor_and_directors.local_actor_with_remote_director"
                     icheck data-checkbox="icheckbox_square-blue"
                     value="true" type="checkbox" name="local_or_remote_actor_and_directors"> Local Actor with Remote Director
            </label>
            <label>
              <input ng-model="settings.local_or_remote_actor_and_directors.local_director_with_remote_actor"
                     icheck data-checkbox="icheckbox_square-blue"
                     value="true" type="checkbox" name="local_or_remote_actor_and_directors"> Local Director with Remote Actor
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="col-sm-2 control-label">Microphones</label>
        <div class="col-sm-6">
          <div class="row m-b-5" ng-repeat="microphone in microphones track by $index">
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="microphones[$index]" />
            </div>
            <div class="col-sm-4">
              <button class="btn btn-default bg-white m-0" type="button" ng-mouseenter="removeMicrophoneButtonsHover = true" ng-mouseleave="removeMicrophoneButtonsHover = false" ng-click="removeMicrophone($index)">
                <span ng-class="{'c-red': removeMicrophoneButtonsHover, 'text-muted': !removeMicrophoneButtonsHover}" class="icons-office-52 text-muted"></span>
              </button>
            </div>
          </div>
          <button class="btn btn-sm m-l-0" type="button" ng-click="addMicrophone()"><span class="text-muted">add microphone</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a class="btn btn-link pull-right" data-dismiss="modal">Close</a>
      <button ng-class="{'disabled': isLoading}" type="submit" class="btn btn-blue btn-embossed pull-right save-admin-settings ladda-button" data-style="slide-left" ng-click="saveSettings()">Save</button>
      <div class="clearfix"></div>
    </div>
  </div>
</form>
